.Nav__wrapper{
  background-color: #24292e;
  color: white;
  height: 50px;
  margin-bottom: 40px;
  padding: 0 15px;
}

.logo-sign{
  margin-top: 10px;
  font-size: 24px;
  margin-left: 15px;
}

.home{
  color:white;
}
.home:hover{
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.logout{
  padding-top: 12px;
  float: right;
  margin: 0 20px;
}
.logout:hover{
  cursor: pointer;
  text-decoration: underline;
}